.Header {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 10px 50px;
  border-bottom: 1px solid #e5e5e5;
}

h1 {
  margin: 0;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

.Header-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Header-title span {
  color: #666;
}

.Header-button {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: #666;
  background-color: transparent;
  margin-left: auto;
  outline: none;
  cursor: pointer;
}
