.TableFooter-button {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.TableFooter-button:hover {
  background-color: #fafafa;
}
